<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All products</title>
    <link type="text/css" rel="stylesheet" href="/products.css">
</head>
<body>
PRODUCTS
<a th:href="@{/products/add}">
    <button>Добавить продукт</button>
</a>

<div class="search-products">
    <form th:action="@{/products/search}" method="get" th:object="${searchDto}">
        <div class="group">
            <label>
                Имя: <input type="text" th:field="*{name}"/>
            </label>

        </div>
        <div class="group">
            <label>Минимальное количество: <input type="number" step="1" th:field="*{minCount}"></label>
            <label>Максимальное количество: <input type="number" step="1" th:field="*{maxCount}"></label>

        </div>
        <div class="group">
            <label>Минимальная цена: <input type="number" step="0.01" th:field="*{minPrice}"></label>
            <label>Максимальная цена: <input type="number" step="0.01" th:field="*{maxPrice}"></label>
        </div>
        <div class="group">
            <label>Включить фиьтр по доставке: <input type="checkbox" id="isUseDeliver" th:field="*{isUseDeliver}"></label>
            <label>Возможность доставки: <input type="checkbox" th:field="*{deliverable}"></label>
        </div>
        <button type="submit">Поиск</button>
    </form>
</div>

<div th:each="product, iStat  : ${products}">
    <div class="row pl-1" th:classappend="'product__' + ${product.getStatus().toString().toLowerCase()}">
        <span th:text="${iStat.index + 1}"></span>
        <span>Name: <span th:text="${product.getName()}"></span></span>
        <span>Description: <span th:text="${product.getDescription()}"></span></span>
        <span>Price: <span th:text="${product.getPrice()}"></span></span>
        <span>Status: <span th:text="${product.getStatus()}"></span></span>
        <span>Count: <span th:text="${product.getCount()}"></span></span>
        <span>Price: <span th:text="${product.getPrice()}"></span></span>

        <div class="buttons" th:switch="${product.getStatus().toString()}">
            <span th:case="DELETED">
                <a th:href="@{/products/{id}/set-status/{newStatus}(id=${product.getUuid()},newStatus=ACTIVE)}">
                    <button>Set ACTIVE status</button>
                </a>
            </span>
            <span th:case="ACTIVE">
                <a th:href="@{/products/{id}/set-status/{newStatus}(id=${product.getUuid()},newStatus=DELETED)}">
                    <button>Delete</button>
                </a>
                <a th:href="@{/products/{id}/edit(id=${product.getUuid()})}">
                    <button>Edit</button>
                </a>
            </span>

        </div>
    </div>
</div>
</body>
</html>