<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All products</title>
    <link type="text/css" rel="stylesheet" href="/products.css">
</head>
<body>
PRODUCTS
<a th:href="@{/products/add}">
    <button>Добавить продукт</button>
</a>
<div th:each="product, iStat  : ${products}">
    <div class="row pl-1" th:classappend="'product__' + ${product.getStatus().toString().toLowerCase()}">
        <span th:text="${iStat.index + 1}"></span>
        <span>Name: <span th:text="${product.getName()}"></span></span>
        <span>Description: <span th:text="${product.getDescription()}"></span></span>
        <span>Price: <span th:text="${product.getPrice()}"></span></span>
        <span>Status: <span th:text="${product.getStatus()}"></span></span>
        <div class="buttons" th:switch="${product.getStatus()}">
            <span th:case="${T(org.syantovich.hometask39thymeleaf.enums.ProductStatus).DELETED}">
                <a th:href="@{/products/{id}/set-status/{newStatus}(id=${product.getUuid()},newStatus=${T(org.syantovich.hometask39thymeleaf.enums.ProductStatus).ACTIVE})}">
                    <button>Set ACTIVE status</button>
                </a>
            </span>
            <span th:case="${T(org.syantovich.hometask39thymeleaf.enums.ProductStatus).ACTIVE}">
                <a th:href="@{/products/{id}/set-status/{newStatus}(id=${product.getUuid()},newStatus=${T(org.syantovich.hometask39thymeleaf.enums.ProductStatus).DELETED})}">
                    <button>Delete</button>
                </a>
                <a th:href="@{/products/{id}/edit(id=${product.getUuid()})}">
                    <button>Edit</button>
                </a>
            </span>

        </div>
    </div>
</div>
</body>
</html>